* { font-family: Arial; }

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.header-bar {
  background-color: rgb(255,0,0);
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*nav a {*/
  /*margin: 2px;*/
  /*padding: 5px 10px;*/
  /*text-decoration: none;*/
  /*margin-top: 10px;*/
  /*display: inline-block;*/
  /*background-color: #eee;*/
  /*border-radius: 4px;*/
/*}*/
/*nav a:visited, a:link {*/
  /*color: #607D8B;*/
/*}*/
/*nav a:hover {*/
  /*color: rgb(255,0,0);*/
  /*background-color: #CFD8DC;*/
/*}*/
